//
   Created by caitano on 05/01/16.

extends layout
block content
   <img src='images/estetoscopio.jpg' />
   h1= "OnLine Clinic"
   p Welcome to your online Clinic!

   ul
      ul
         ul
            ul
               ul
                  ul
                     li
                        a(href='/scheduling') Scheduling